body{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

div{
    display: flex;
    flex: auto;
}

.main{
    margin: 30px;
    flex-direction: column;
    height:530px;
    width: 420px;
    border: solid #1c0402;
    background-color:rgb(34, 225, 225);
    align-items: center;
    justify-content: center;
    border-radius: 3%;

}

.screen-grid{
    flex-direction: column;
    width: 380px;
    height: 80px;
    background-color: whitesmoke;
    margin-top:20px;
    margin-bottom: 10px; 
}

.screen{

    flex-direction:row;
    width: 380px;
    height: 40px;
    justify-content: flex-end;
    align-items: end;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Oswald' sans-serif;

}

.history-screen{
    justify-content: start; 
    color: grey;   
}


.buttons-grid{
    flex-direction: row;
    height: 420px;
    width: 400px;
    flex-wrap: wrap;
    justify-content: center;
    gap:2px;
}

button{
    color:#1c0402;
    border: solid black;
    border-radius: 50%;
    width: 69px;
    height: 69px;
    margin: 5px;
}

.space{
    width: 140px;
}

.operator{
    background-color: rgb(222, 128, 128);
}